<ng-container *ngIf="products.length !=0" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <p-table [value]="products" responsiveLayout="scroll" tableStyleClass="table-block">
      <ng-template pTemplate="caption">
        <div>
          Products in cart
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <a routerLink="/products/{{product.id}}" routerLinkActive="activebutton">
              {{product.title}}
            </a>
          </td>
          <td>
            <a routerLink="/products/{{product.id}}" routerLinkActive="activebutton">
              <img [src]="product.images[0]" [alt]="product.name" width="100" class="shadow-4"/>
            </a>
          </td>
          <td>{{product.price | currency:'USD'}}</td>
          <td>
            <p-button icon="pi pi-trash" iconPos="left" (onClick)="removeItem(product)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="total-block">
          <span><b>Grand Total : ${{grandTotal}}</b></span>
        </div>
        <div class="bottom">
          <p-button label="Empty cart" icon="pi pi-trash" styleClass="p-button-sm" iconPos="left"
                    (onClick)="emptycart()"
          ></p-button>
          <p-button label="Buy now" icon="pi pi-check" styleClass="p-button-sm p-button-success" iconPos="left"
          ></p-button>
        </div>
      </ng-template>
    </p-table>
  </div>

</ng-container>


<ng-container *ngIf="products.length ==0">
  <div class="container">
    <div class="center">
      <h4>Your cart is empty!</h4>
      <p-button label="Shop now" icon="pi pi-shopping-bag" iconPos="left"
                routerLink="/products" class="btn btn-primary"></p-button>
    </div>
  </div>

</ng-container>

