<!--<ng-container  *ngFor="let cartItem  of cartItems$ | async">-->
<!--<div>-->
<!--  {{cartItem.title}}-->
<!--</div>-->
<!--</ng-container>-->
<!--<ng-container  *ngFor="let cartItem  of products | async">-->
<ng-container *ngIf="products.length !=0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Sr.No</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of products; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.title}}</td>
            <td><img style="width: 120px;" [src]=item.images[0] alt=""></td>
            <td style="width: 25%;">{{item.description}}</td>
            <th style="width: 12%;">{{item.price}}</th>
            <td>
              <!--              <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>-->
            </td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <!--            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>-->
            <td>
              <button routerLink="/products" class="btn btn-primary">Shop More</button>
            </td>
            <td>
              <button class="btn btn-success">Checkout</button>
            </td>
            <!--            <td><strong>Grand Total : ${{grandTotal}}</strong></td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <p-table [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Products
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.title}}</td>
        <td><img [src]="product.images[0]" [alt]="product.name" width="100" class="shadow-4"/></td>
        <td>{{product.price | currency:'USD'}}</td>
<!--        <td>{{product.category}}</td>-->
        <!--         <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>-->
        <td><span>
<!--          [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}-->
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>


</ng-container>


<ng-container *ngIf="products.length ==0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>
<!--</ng-container>-->
