<div style="display:inline-flex">
  <button pButton pRipple type="button" icon="pi pi-sign-in"
          class="p-button-rounded p-button-secondary p-button-text p-button-lg"
          (click)="showModalDialog()"
  ></button>

  <p-dialog header="Login" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
            [draggable]="false" [resizable]="false">
    <app-login></app-login>
     <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayModal=false" label="Close" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>





  <button pButton pRipple type="button" icon="pi pi-box"
          class="p-button-rounded p-button-secondary p-button-text p-button-lg"></button>
  <button pButton pRipple type="button" icon="pi pi-heart"
          class="p-button-rounded p-button-secondary p-button-text p-button-lg"></button>
  <button pButton pRipple type="button" icon="pi pi-shopping-cart"
          class="p-button-rounded p-button-secondary p-button-text p-button-lg"></button>
 </div>
